@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
    :root {
        --background: 240 100% 5%;
        --foreground: 0 0% 93%;

        --card: 240 100% 5%;
        --card-foreground: 0 0% 93%;

        --popover: 240 100% 5%;
        --popover-foreground: 0 0% 93%;

        --primary: 236 83% 56%;
        --primary-foreground: 0 0% 100%;

        --secondary: 305 87% 50%;
        --secondary-foreground: 0 0% 100%;

        --muted: 240 30% 20%;
        --muted-foreground: 0 0% 70%;

        --accent: 240 30% 20%;
        --accent-foreground: 0 0% 93%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 240 30% 20%;
        --input: 240 30% 20%;
        --ring: 236 83% 56%;

        --radius: 0.5rem;
    }
}